<!-- <div class="course-card">
    <h1>{{title}}</h1>
    <div class="course-title">
        {{course.description}}
    </div>
    <img width="300" [src]="course.iconUrl">
    <div class="course-description">
        {{course.longDescription}}
    </div>
    {{course.lessonsCount}} 

  <button (click)="onButtonClicked()">View</button>
</div> -->


<div class="course-card">

    <div class="course-title">
      {{course.description}}
    </div>
    <img width="300" src={{course.iconUrl}}>
    <div class="course-description">
      {{course.longDescription}}
    </div>
  
    <!-- <button (click)="onButtonClicked()">View</button> -->
  </div>